@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Importa a fonte "Roboto" do Google Fonts */

:root { /* Define variáveis de cores reutilizáveis */
    --Platinum: #e0e1dd;
    --Silver-Lake-Blue: #778DA9;
    --YInMn-Blue: #415A77;
    --Oxford-Blue: #1B263B;
    --Rich-black: #0D1B2A;
}

* { /* Remove margens e espaçamentos padrões e usa o modelo de caixa */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /* Aplica fonte padrão e cor para o texto */
    background-color: var(--Platinum);
    color: var(--YInMn-Blue);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

header { /* Estiliza o cabeçalho com espaçamento, cor de fundo e alinhamento central */
    padding: 2rem;
    background-color: var(--YInMn-Blue);
    color: var(--Platinum);
    text-align: center;
}

main { /* Layout flexível com espaçamento entre seções */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
}

section { /* Cada seção segue um layout vertical com espaçamento entre os elementos */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 { /* Cor e tamanho do texto dos subtítulos */
    color: var(--Rich-black);
    font-size: 1.5rem;
}

input[type="radio"], input[type="checkbox"] { /* Cor personalizada para botões de rádio e checkboxes */
    accent-color: var(--YInMn-Blue);
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] { /* Campos de entrada estilizados */
    width: 100%;
    padding: 0.6rem;
    border: 2px solid var(--YInMn-Blue);
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}

input::placeholder {
    color: var(--YInMn-Blue);
}

select {
    cursor: pointer;
    background-color: transparent;
    color: var(--YInMn-Blue);
    border-radius: 5px;
    border: 2px solid var(--YInMn-Blue);
    outline: none;
    width: 10rem;
    height: 2rem;
    text-align: center;
}

img {
    width: 15rem;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--YInMn-Blue);
    color: var(--Platinum);
    padding: 1rem;
}
td {
    padding: 1rem;
    text-align: center;
    font-size: 20px;
}

tfoot td {
    background-color: var(--Rich-black);
    color: var(--Silver-Lake-Blue);
    text-align: center;
}

details {
    padding: 1rem;
}

summary {
    /* margin: 0.5rem; */
    
    margin-left: -0.8rem;
    cursor: pointer;
}

ol {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

li {
    padding: 0.2rem;
}

fieldset {
    border: 2px solid var(--YInMn-Blue);
    border-radius: 5px;
    padding: 1rem;
}

legend {
    color: var(--Rich-black);
    padding: 0 0.5rem;
}

textarea { /* Estilização para o campo de texto maior */
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--YInMn-Blue);
    outline: none;
}

textarea::placeholder {
    color: var(--YInMn-Blue);
    padding: 1.2rem;
    text-align: left;
    font-size: 15px;
}

button { /* Botões estilizados com bordas arredondadas e cores personalizadas */
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--YInMn-Blue);
    padding: 0.8rem;
    /* margin-top: 0.5rem; */
    background-color: var(--Oxford-Blue);
    color: var(--Silver-Lake-Blue);
    cursor: pointer;
}

input,
textarea {
    margin-bottom: 0.5rem;
}

footer { /* Rodapé com fundo e alinhamento centralizado */
    background-color: var(--YInMn-Blue);
    padding: 2rem;
    text-align: center;
}

.paragrafo-footer {
    color: var(--Rich-black);
}

footer a {
    text-decoration: none;
    color: var(--Silver-Lake-Blue);
}